* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: rgb(18, 207, 18);
    width: 100%;
    height: 1600px;
}

.wrapper .background-top {
    background-color: orange;
    width: 100%;
    height: 150px;
}

.background-top .icon {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.icon .fas {
    font-size: 30px;
}

.wrapper .content-wrapper {
    background-color: white;
    height: 600px;
    width: 60%;
    margin: -75px auto 0;
}

.content-title {
    width: 80%;
    margin: auto;
    padding: 15px 0;
}

.content-title h1 {
    text-align: center;
    font-size: 60px;
    letter-spacing: 8px;
    font-weight: 400;
}

.content-title p {
    font-size: 15px;
}